:root{
    --primary-color:gray;
    --secondary-color: lightgray;
}

.form{
 border: 1px solid black;
 width: 750px;
 height: 80px;
 background-color: var(--primary-color);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 margin: 20px auto;
}

.form input {
    background-color: var(--secondary-color);
    margin: 10px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    float: left;
    margin: 20px;
}

.div-two {
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 750px;
    padding: 20px;
    margin: 20px auto;
    background-color: var(--secondary-color);
}

.check {
    color: whitesmoke;
    background-color: black;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.check:hover{
    background-color: var(--secondary-color);
    transition: .2s ease-in-out;
    color: black;
}

.add-favorite, .del {
    border: none;
    background-color: var(--secondary-color);
    text-decoration: underline;
}

.del:hover, .add-favorite:hover{
    background-color: var(--primary-color);
    transition: .2s ease-in-out;
    color: black;
}

.grade {
    width: 350px;
}

.num {
    width: 100px;
}

.grade, .num {
    height: 25px;
}

.output {
    font-weight: bold;
}

input, label {
    display:block;
}

